%html
	%head
		%title Wordzies
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#landingcontainer
			.dictionary
				%h1= link_to (image_tag 'logo.png'), root_url
		#signin
			= link_to "Sign in", :twitter_auth
		#landingsearchbox
			.landingsearchfield
				= form_tag({ :controller => 'words', :action => 'search' }, :method => "get") do
					= text_field_tag :q, nil, :placeholder => "enter a word you want to learn"
					= submit_tag("Define", :id => "addwordzy-btn", :class => "btn-warning btn")
					
		= yield

/ 	%p#intro
/ 		Welcome to Wordzies, the interactive vocabulary building application. 
/ 		Wordzies is all about repitition, which is the best way to learn and remember new 
/ 		words. We help you integrate your "wordzies" into your everyday use.