%html
	%head
		%title Landing
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#landingcontainer
			.dictionary
				%h1= link_to (image_tag 'logo.png'), root_url
		#signin
			- if current_user
				%span
					= "Welcome, #{current_user.name}"
					= link_to "Sign Out", signout_path, :class => "btn-danger btn"
			- else
				= link_to "Sign in", :twitter_auth
		#landingsearchbox
			.landingsearchfield
				= form_tag({ :controller => 'words', :action => 'search' }, :method => "get") do
					= text_field_tag :q, nil, :placeholder => "enter a word you want to learn"
					= submit_tag("Define", :id => "addwordzy-btn", :class => "btn-warning btn")
					
		= yield
							
/ application.html.haml for reference
/ %html
/ 	%head
/ 		%title WORDZIES
/ 		= stylesheet_link_tag "application"
/ 		= javascript_include_tag "application"
/ 		= csrf_meta_tags
/ 	%body
/ 		%header#header
/ 			.container
/ 				%h1= link_to 'Wordzies', :words
/ 				#signin
/ 					- if current_user
/ 						%span
/ 							= "Welcome, #{current_user.name}"
/ 							= link_to "Log Out", signout_path
/ 					- else
/ 						= link_to "Log In", "/auth/twitter"
/ 				#searchbox
/ 					= form_tag({ :controller => 'words', :action => 'search' }, :method => "get") do
/ 						= text_field_tag :q, nil, :placeholder => "find a wordzy"
/ 						= submit_tag("Search", :id => "addwordzy-btn", :class => "btn-warning btn")	
/ 		.container
/ 			- if flash[:notice]
/ 				.alert.alert-success= flash[:notice]	
/ 			= yield
/ 
/ 		#footer
/ 			.container
/ 			%p Wordzies &copy 2012