<<<<<<< HEAD
<<<<<<< HEAD
<div class="row">
  <div class="span8">
    <div id='wordzieresult'>
      <h1><%= @the_word %></h1>

        <p>
        	<%= form_for(@word) do |f| %>
        		<%= f.hidden_field(:wn_title, value: @the_word) %>
        		<%= f.hidden_field(:wn_id, value: @wn_word_id) %>
        		<%= f.submit("Add Word to My Wordzie Bank", :class => "btn-success btn-large", :id => "search-btn") %>
        	<% end %>
        </p>

        <h2>
        	<% if @wn_pronunciation.present? %>
        		Pronunciation: <%= link_to 'Hear the word', 
        										@wn_pronunciation.first['fileUrl'], :target => :blank %>
        	<% else %>
        	<% end %>
        </h2>

        <h2>
        	<% if @wn_definitions.present? %>
        		Definitions:
        		<ul>
        			<% @wn_definitions.each do |definition| %>
        				<li>
        					(<%= definition["partOfSpeech"] %>)	<%= definition["text"] %>
        				</li>
        			<% end %>
        		</ul>
        	<% else %>
        	<% end %>
        </h2>

        <h2>
        	<% if @wn_example.present? %>
        		Example:<br />
        		<ul>
        			<li>"<%= @wn_example['text'] %>"</li>
        		</ul>
        	<% else %>
        	<% end %>
        </h2>

        <h2>
        	<% if @wn_synonyms.present? %>
        		Synonyms:
        		<ul>
        			<% @wn_synonyms.each do |synonym_list| %>
        				<% synonym_list['words'].each do |synonym| %>
        					<li>
        						<%= link_to synonym, show_word_url(synonym) %>
        					</li>
        				<% end %>
        			<% end %>
        		</ul>
        	<% else %>
        	<% end %>
        </h2>

    <% if Word.find_by_wn_id(@wn_word_id) != nil %>
    	<%= render 'user_usage' if @wn_word_id == Word.find_by_wn_id(@wn_word_id)['wn_id'] %>
    <% else %>
    <% end %>
      </div>
    </div>
  </div>

<div class="span12">
	<% if Word.find_by_wn_id(@wn_word_id) != nil %>
		<%= render 'user_usage' if @wn_word_id == Word.find_by_wn_id(@wn_word_id)['wn_id'] %>
	<% else %>
	<% end %>
</div>
