.span6
	%h1
		= @the_word
	= form_for(@word) do |f|
		= f.hidden_field(:wn_title, value: @the_word)
		= f.hidden_field(:wn_id, value: @wn_word_id)
		- if logged_in
			= f.submit("Add", :class => "btn-success btn-medium", :id => "search-btn")

	%p
		- if @wn_pronunciation.present?
			Pronunciation:
			= link_to 'Hear the word', @wn_pronunciation.first['fileUrl'], :target => :blank

	%p
		- if @wn_definitions.present?
			Definitions:
			%ul
				- @wn_definitions.each do |definition|
					%li
						(
						= definition["partOfSpeech"]
						)
						= definition["text"]

	%p
		- if @wn_example.present?
			Example:
			%br
			%ul
				%li
					"
					= @wn_example['text']
					"

	%p
		- if @wn_synonyms.present?
			Synonyms:
			%ul
				- @wn_synonyms.each do |synonym_list|
					- synonym_list['words'].each do |synonym|
						%li
							= link_to synonym, show_word_url(synonym)

/.span5
/	- if Word.find_by_wn_id(@wn_word_id) != nil
/		%p
/			%h1(style="text-transform:capitalize; text-align:center")
/				Practice this Wordzy:
/			= render 'user_usage' 
/			= if @wn_word_id == Word.find_by_wn_id(@wn_word_id)['wn_id']
/	- else