<!DOCTYPE html>
<html>
<head>
  <title>WordziesCA</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <nav class="nav"> <%= image_tag("nav.png") %>
         
       </nav>
     </header>
   
<%= yield %>
  </div>
</body>
</html>
