<!DOCTYPE html>
<html>
	<head>
		<title>WORDZIES</title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header id="header">
			<div class="container">
				<h1><%= link_to 'Wordzies', root_url %></h1>
				<div id="signin">
						<% if current_user %>
							<span><%= "Welcome #{current_user.name}!" %></span>
							<%= link_to "Sign Out", signout_path, :class => "btn-success btn" %>
						<% else %>
							<%= link_to "Sign in with Twitter", "/auth/twitter", :class => "btn-success btn" %>
						<% end %>
				</div><!-- #signin -->
				<div id="searchbox">
					<%= form_tag({ :controller => 'words', :action => 'search' }, :method => "get") do %>
						<%= text_field_tag(:q, "find a wordzy") %>
						<%= submit_tag("Search", :id => "addwordzy-btn", :class => "btn-warning btn-large") %>
					<% end %>
				</div><!-- #searchbox -->
			</div><!-- .container -->
		</header><!-- #header -->
		<div class="container">
			<div class="row">
				<%= yield %>
			</div><!-- .row -->
		</div><!-- .container -->
	</body>
</html>
