%html
	%head
		%title WORDZIES
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
		%link{ :rel => "shortcut icon", :href => "assets/wordzies-1.ico" }
	%body
		%header#header
			.container
				%h1= link_to 'Wordzies', :home
				#signin
					- if logged_in
						%span
							= "#{logged_in.name}"
							= link_to "Log Out", signout_path
					- else
						= link_to "Log In", "/auth/twitter"
				#searchbox
					= form_tag({ :controller => 'words', :action => 'search' }, :method => "get") do
						= text_field_tag :q, nil, :placeholder => "find a wordzy"
						= submit_tag("Search", :id => "addwordzy-btn", :class => "btn-warning btn")	
		.container
			- if flash[:notice]
				.alert.alert-success= flash[:notice]	
			= yield

		#footer
			.container
			%p Wordzies &copy 2012
