<!DOCTYPE html>
<html>
<head>
  <title>WORDZIES</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<a href="http://localhost:3000">Home</a> | 
	<%= link_to "Sign in with Twitter", "/auth/twitter" %>

  <div class="container">
    <header id="header">
      <h1>Wordzies</h1>
      <div id="searchbox">
      	<%= form_tag({:controller => 'words', :action => 'search'}, :method => "get") do %>
      	  <%= text_field_tag(:q,"find a wordzy") %>
      	  <%= submit_tag("Search", :class => "btn-warning btn-large", :id => "addwordzy-btn") %>
      	<% end %>
      </div>
     </header>

<%= yield %>
  </div>
</body>
</html>
